<a href="https://colab.research.google.com/github/Muhammad-Usama-07/Class02WebBootcamp/blob/main/Starting_with_python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print and its Functions

In [ ]:
print("Welcome python")

Welcome python

# print with end

In [ ]:
print("Hello", end = " -  ")
print("world")

Hello -  world

In [ ]:
print("Hello", end = " ### ")
print("world")

Hello ### world

In [ ]:
print("Hello", end = "\n")
print("world")

Hello
world

# print two string togather

In [ ]:
print('first String','Second String')

first String Second String

In [ ]:
print('first String'+'Second String')

first StringSecond String

# print wtith sep

In [ ]:
print("hello","word",sep = '....')

hello....word

# Variables

In [ ]:
# declearing a variable and passing by value
var1 = "Hello"

In [ ]:
var1

'Hello'

In [ ]:
varr2 = var1 # passing by reference
print(varr2)

Hello

In [ ]:
# Another way
print(var1)

Hello

In [ ]:
# assigning integer value to the variable.
var2 = 123

In [ ]:
var2

123

In [ ]:
#floating variable
var3 = 1.234455454
var3

1.234455454

In [ ]:
# Boolean Variable
var4 = True
var5 = False
print(var4,var5)

True False

In [ ]:
# assigning String value to the variable.
var6 = "this is a string"
var6

'this is a string'

In [ ]:
id(var6)

139988913409744

In [ ]:
# Concatinating two string with no single character space b/w them
var7 = "with second string"
var6+var7

'this is a stringwith second string'

In [ ]:
'''When replacing with comma b/w them
it will create single character space b/w the string'''
print(var6,var7)

this is a string with second string

In [ ]:
# Finding type data types of variale.
type(var1)

str

In [ ]:
type(var2)

int

In [ ]:
type(var3)

float

In [ ]:
type(var4)

bool

In [ ]:
type(var5)

bool

In [ ]:
type(var6)

str

In [ ]:
#finding class of varriable type 
print(type(var6))

<class 'str'>

In [ ]:
#checking variable equality
id(var1)==id(varr2)

True

In [ ]:
# finding index number in the string
varrr3 = "Pakistan"
varrr3.find('s')

4

In [ ]:
# finding lenght of variable
len(varr3)

8

In [ ]:
# Concatinating two String
name = "pakistan"
dobyear = 1947

print("my name is "+name+" and my birth year is "+str(dobyear))

my name is pakistan and my birth year is 1947

# Arrays

In [ ]:
dishes = ["Biryani", "Qourma", "meetha"]
dishes

# dishes is the array variable and inside the bracket is its elements.

['Biryani', 'Qourma', 'meetha']

In [ ]:
# Replacing a Value of element in an array.
dishes[0] = "Qabab"

In [ ]:
# calling a single element. 
x = dishes[0]
x

'Qabab'

In [ ]:
# Finding lenght of an array.
len(dishes)

3

In [ ]:
# Adding a new element in an array list.
dishes.append("kheer")
dishes

['Qabab', 'Qourma', 'meetha', 'kheer']

In [ ]:
# Deleting an element in an array by using index number.
dishes.pop(2)
dishes

['Qabab', 'Qourma', 'kheer']

In [ ]:
# Deleting an element in an array by using element name.
dishes.remove("kheer")
dishes

['Qabab', 'Qourma']

In [ ]:
dishes

['Qabab', 'Qourma']

In [ ]:
# Making new list by copying element form the old list.
x = dishes.copy()
x

['Qabab', 'Qourma']

In [ ]:
# Clear all element from of the list.
x.clear()

In [ ]:
x

[]

In [ ]:
int_list = (1,2,3,4)
int_list

(1, 2, 3, 4)

In [ ]:
# Adding new list to the old list(by adding separate elemnets).
dishes.extend(int_list)

In [ ]:
dishes

['Qabab', 'Qourma', 1, 2, 3, 4]

In [ ]:
# Adding a new element into the list with specific index.
dishes.insert(1,"Chicken biryani")

In [ ]:
dishes

['Qabab', 'Chicken biryani', 'Qourma', 1, 2, 3, 4]

In [ ]:
# Reversing a list
dishes.reverse()

In [ ]:
dishes

[4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [ ]:
# Another way of removing element.
del dishes[0]
dishes

[3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

In [ ]:
# first Way of joining two list.
list2 = [1,2,3,4]
list3 = list2 + dishes
print(list3)

[1, 2, 3, 4, 3, 2, 1, 'Qourma', 'Chicken biryani', 'Qabab']

# Tuples

In [ ]:
tuple1 = (1,2,3)
print(tuple1)

(1, 2, 3)

In [ ]:
tuple2 = ("A","B","C")
tuple2

('A', 'B', 'C')

In [ ]:
type(tuple1)

tuple

In [ ]:
# convert list to tuple
list_to_tuple = list(tuple1)
list_to_tuple

[1, 2, 3]

## Set
A set is a collection which is unordered and unindexed

In [ ]:
varset = {"how", "are", "you"}
print(varset)

{'are', 'how', 'you'}

In [ ]:
# Checking condition.
print("are" in  varset)

True

In [ ]:
# Adding an item in the set.

varset.add("world")

In [ ]:
varset

{'are', 'how', 'world', 'you'}

In [ ]:
# Add multiple items to a set

varset.update(["I","am","fine"])
varset

{'I', 'am', 'are', 'fine', 'how', 'world', 'you'}

In [ ]:
# Removing item in the set.
"""varset.remove("are")
varset"""
# set does'nt support remove function.

'varset.remove("are")\nvarset'

In [ ]:
varset.discard("are")
varset

{'I', 'am', 'fine', 'how', 'world', 'you'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

{'fruit': 'apple', 'key': 'Locker', 'mango': 'Chausa'}

In [ ]:
x = dict1["key"]
x

'Locker'

In [ ]:
x = dict1.get("key")
x

'Locker'

In [ ]:
#Another way of creating dictionaries.
dict2 = dict(brand="Ford", model="Mustang", year=1964)
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [ ]:
dict1

{'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [ ]:
# Adding item in the dictionary.
dict1

{'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [ ]:
dict1["colour"] = "Red"

In [ ]:
dict1

{'colour': 'Red', 'fruit': 'Orange', 'key': 'Locker', 'mango': 'Chausa'}

In [ ]:
# Removing item with the specific key name in the dictionary.
dict1.pop("key")

'Locker'

In [ ]:
dict1
# Another wayof removing item by del keyword.

{'colour': 'Red', 'fruit': 'Orange', 'mango': 'Chausa'}

### Nested dictionary

In [ ]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

{'course1': {'name': 'OS', 'year': 2019},
 'course2': {'name': 'WE', 'year': 2019},
 'course3': {'name': 'DBMS', 'year': 2019}}

In [ ]:
# Another way of nesting a dictionaries.
course1 = {
    "name" : "OS",
    "year" : 2019
  }
course2 = {
    "name" : "WE",
    "year" : 2019
  }
course3 = {
    "name" : "DBMS",
    "year" : 2019
  }
Course = {
    "mycourse1": course1,
    "mycourse2": course2,
}
Course

{'mycourse1': {'name': 'OS', 'year': 2019},
 'mycourse2': {'name': 'WE', 'year': 2019}}

# (Conditions)

### if else

In [ ]:
a = 55
b = 44
if b < a:
    print("a is greater than  b")
else:
    print("b is greater than a")

a is greater than  b

### Elif

In [ ]:
a = 65
b = 78
if a > b:
    print("a is greater than b ")
elif b > a:
    print("b is greater than a ")
else:
    print("Nothing to show u")

b is greater than a

### short cut if else

In [ ]:
a = 3
b = 2
print("a is greater than b ") if a > b else print("b is greater than a ")

a is greater than b

### short Three condition at an time

In [ ]:
a = 330
b = 330
#(first condition)  (---second condition---)  (third condition)       
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [ ]:
a = 1
b = 2
c = 3
if c > b and b > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

### Or

In [ ]:
a = 1
b = 2
c = 3
if c > b or b > a or c > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

## Nested if-else

In [ ]:
a = 100
if a > 40:
    if a > 90:
        print(a)
else:
    print("a is not valid")

100

# while loop

In [ ]:
# Generating number from 1-10 using while loop.
i = 1
while i < 11:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Using break staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        break
    print(i)

2
3
4

In [ ]:
# Using continue staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10
11

# For Loop

In [ ]:
#working with basic loop

for a in range(5):
  #indent
  print(a, "Usama")

0 Usama
1 Usama
2 Usama
3 Usama
4 Usama

In [ ]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper())

P
A
K
I
S
T
A
N
Z
I
N
D
A
B
A
D

In [ ]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
  print(char.upper(), end="")

PAKISTANZINDABAD

In [ ]:
# printing list from loop.
for student in ["usama", "rameez", "ali", "ather"]:
  print(f"the name of the stuidnetg is {student}")

the name of the stuidnetg is usama
the name of the stuidnetg is rameez
the name of the stuidnetg is ali
the name of the stuidnetg is ather

In [ ]:
# printing form specefic range
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
# printing number form specefic range with step
for num in range(1,10,2):
  print(num)

1
3
5
7
9

In [ ]:
# printing number form specefic range with step in reverse order
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# printing nam eiht other string
student_list  = ["usama", "rameez", "ali", "ather"]

In [ ]:
for i in student_list:
  print(i, "pakistani")

usama pakistani
rameez pakistani
ali pakistani
ather pakistani

In [ ]:
emptylist = []
for i in student_list:
  emptylist.append(f"{i} pakistani")

In [ ]:
print(emptylist)

['usama pakistani', 'rameez pakistani', 'ali pakistani', 'ather pakistani']

In [ ]:
#changing string data
for num in range(len(student_list)):
  student_list[num] = student_list[num] + " pakistani"
student_list

['usama pakistani', 'rameez pakistani', 'ali pakistani', 'ather pakistani']

In [ ]:
# here  we have list,set, and dictionary
#list3,varset,dict1

In [ ]:
     # set   ,list, dictionary 
print(varset ,list3,  dict1)

NameError: ignored

In [ ]:
# Applying for loop to list.
for i in list3:
    print(i)

In [ ]:
# Applying for loop to set.
for i in varset:
    print(i)

In [ ]:
# Applying for loop to dictionary(will print only keys).
for i in dict1:
    print(i)

In [ ]:
# For accessing values of key (using for loop).
for i in dict1.values():
    print(i)

NameError: ignored

In [ ]:
# For accessing both keys and values of dictionary(using for loop).
for k,v in dict1.items():
    print(k,v)

NameError: ignored

In [ ]:

varset

NameError: ignored

In [ ]:
# using break statement in for loop.
for i in varset:
    
    if i == "how":
        break
    print(i)

In [ ]:
# Using continue statement in for loop.
for i in varset:
    if i == "how":
        continue
    print(i)
# it prints all elements except "how".

NameError: ignored

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

for num in range(2000, 3201):
  if(num%7 == 0):
    if(num%5 != 0):
      print(num, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### range() function in for loop.

In [ ]:
for x in range(5):
    print(x)

In [ ]:
# By assigning starting number to the range function.
for x in range(2,10):
    print(x)

In [ ]:
# Incrementing in the sequence with 1.
for x in range(2,10,2):
    print(x)

### Using nested loop.

In [ ]:
lis1 = ['a','b','c','d']
lis2 = [1,2,3,4]
for i in lis1:
    for j in lis2:
        print(i,j)

# Function in python

In [ ]:
def function1():
    print("This is my first function")
function1()

This is my first function

In [ ]:
#function defininion
def call():
  name = input("Enter Your name: ")
  print(f"Welcome {name}")

In [ ]:
call()

Enter Your name: usama
Welcome usama

In [ ]:
#function defininion
def call():
  name = input("Enter Your name: ")
  gender = input("Enter gender:").lower()
  if(gender == 'male'):
    print(f"Welcome Mr. {name}")
  else:
    print(f"Welcome Ms. {name}")

In [ ]:
call()

Enter Your name: usama
Enter gender:male
Welcome Mr. usama

In [ ]:
#trick 01
list1 = []
def even_odd_func():
  num1 = 0
  flag = True
  while(flag):
    num = input("Enter number/ write 'q' to exit")
    list1.append(num)
    if(num == 'q'):
      if(int(list1[-2]) % 2 == 0):
        print("your number is even")
      else :
        print("your number is odd")  
      flag = False

In [ ]:
even_odd_func()

Enter number/ write 'q' to exit1
Enter number/ write 'q' to exitq
your number is odd

In [ ]:
#trick 02
def even_odd_func():
  while(True):
    num = input("Enter number/ write 'q' to exit")
    if(num != 'q'):
      if(int(num) % 2 == 0):
        print("your number is even")
      else :
        print("your number is odd")  
    else:
      break

In [ ]:
even_odd_func()

Enter number/ write 'q' to exit2
your number is even
Enter number/ write 'q' to exitq

In [ ]:
# Parametric function.
def function2(var):
    print(var)
function2("This is the second function")
function2("And it is a parametric function.")

This is the second function
And it is a parametric function.

In [14]:
# Taking multiple argument to the function.
def function3(name_var, your_name):
    print(name_var + ": " + your_name)
function3("Name","Jack")
function3("Father Name","Jonson")

Name: Jack
Father Name: Jonson

In [19]:
# Positional argument with keyword argumetn
def abc(x,y,z):
  print(x,y,z)

In [21]:
abc(77, y =12, z= 23 )

77 12 23

# Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def function4(*var):
        print(var, end = '')
function4("orange", "mango")

('orange', 'mango')

## Default parameter value.

In [22]:
def func(var = "newyork"):
    print("You are in",var)
func()
func("london")
func("paris")

You are in newyork
You are in london
You are in paris

In [23]:
def abc(x,y,z =0):
  print(x,y,z)

In [25]:
abc(x = 1, y=3)

1 3 0

In [27]:
#8-3. T-Shirt: Write a function called make_shirt() that accepts a size and the
#text of a message that should be printed on the shirt. The function should print
#a sentence summarizing the size of the shirt and the message printed on it.
#Call the function once using positional arguments to make a shirt. Call the
#function a second time using keyword arguments.

In [29]:
def make_shirt(shirt_size, shirt_message): 
  print('the size of the shirt is: ', shirt_size,"\n") 
  print('the message on the shirt is: ', shirt_message,"\n")

In [31]:
make_shirt(34, 'your message')

the size of the shirt is:  34

the message on the shirt is:  your message

In [33]:
make_shirt(shirt_size = 44, shirt_message = 'your message')

the size of the shirt is:  44

the message on the shirt is:  your message

In [36]:
def build_person(first_name, last_name):
  """Return a dictionary of information about a person."""
  person = {'first': first_name, 'last': last_name}
  return person
musician = build_person('jimi', 'hendrix')
print(musician)

{'first': 'jimi', 'last': 'hendrix'}

In [39]:
def build_person(first_name, last_name, age=''):
  """Return a dictionary of information about a person."""
  person = {'first': first_name, 'last': last_name}
  if age:
    person['age'] = age
  return person
musician = build_person('jimi', 'hendrix', age=27)
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [44]:
#take fives values input

def max_value():
  nums = []
  for a in range(5):
    num = int(input(f'Enter number {a}'))
    nums.append(num)
    maxnum = max(nums)
  return maxnum
max_value()

Enter number 01
Enter number 12
Enter number 23
Enter number 34
Enter number 45

5

In [48]:
#take fives values input

def max_value():
  return max(int(input()) for i in range(5))
max_value()

1
2
3
4
5

5

2
2## Passing a List as an Argument

In [ ]:

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Using return keword to return value.

In [ ]:
# Function that return the square of number.
def retun(x):
    return x*x
var = 3
print("The square of",var,"is",retun(var))

The square of 3 is 9

## Recursion function

In [ ]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Classes & Objects

In [ ]:
class first:
    x = 5

obj = first()
print(obj.x)

5

### Working with constructor of class and creating varaible

In [ ]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
obj1 = fruit("Orange", "Citrus")
print(obj1.fname, "is the", obj1.catagory, "catagory")

Orange is the Citrus catagory

### Creating Method

In [ ]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
    def func1(self):
        print("your fruit is"+self.fname)
        
obj2 = fruit("Orange", "Citrus")
print(obj2.func1())

your fruit isOrange
None

#### The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

# Inheritance in python

In [ ]:
# Creating parent class

class parent:
    def __init__(self, fname, rollno):
        self.firstname = fname;
        self.rollNumber = rollno;
    def printName(self):
        print('My name is',self.firstname,'\nand Roll number is: ',self.rollNumber);
        
        
obj = parent('Usama', 2103102);
obj.printName();

My name is Usama
and Roll number is:  2103102

In [ ]:
#inheriting parent class to child class.
class child(parent):
    pass

obj = child('Usama', 4802292); # Accesing parent class method.
obj.printName();

My name is Usama
and Roll number is:  4802292

# Working with RegEx(regular expression)

In [ ]:
# RegEx can be used to check if a string contains the specified search pattern.

import re

## checking for string which start from "the" and end with "ing"

In [ ]:
string = "The pthon programming";
x = re.search("^The.*ing$", string)
if(x):
    print("working")
else:
    print("not working")

working

# Find a charater or string in whole string and save the the character in a list

In [ ]:
a = re.findall("o", string)
print(a)

['o', 'o']

# The finding number of spaces in an string.

In [ ]:
s = re.search("\s",string)
print(s.start())

3

# Seperate string into words

In [ ]:
w = re.split("\s", string)
print(w)

['The', 'pthon', 'programming']

# Replacing the character/text with the text of your choice

In [ ]:
r = re.sub("\s","----", string)
print(r)

The----pthon----programming

# Dictionary comprihension

In [ ]:
oldPrice = {'buiryani': 150, 'tikka': 300, 'Fish': 400,'cold':200}

In [ ]:
new_price = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
new_price

{'Fish': 2.5, 'buiryani': 0.9375, 'cold': 1.25, 'tikka': 1.875}

In [ ]:
new_price = {item: round(price/160,2) for item,price in oldPrice.items()}

In [ ]:
new_price

{'Fish': 2.5, 'buiryani': 0.94, 'cold': 1.25, 'tikka': 1.88}

In [ ]:
#using math library
import math

In [ ]:
math.floor(12.66)

12

In [ ]:
math.ceil(12.77)

13

In [ ]:
new_price = {item: math.ceil(price/160) for item,price in oldPrice.items()}

In [ ]:
new_price

{'Fish': 3, 'buiryani': 1, 'cold': 2, 'tikka': 2}

In [ ]:
new_price_in_dollar = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
new_price_in_dollar

{'Fish': 2.5, 'buiryani': 0.9375, 'cold': 1.25, 'tikka': 1.875}

In [ ]:
updat_price = {item: (price/160) for item,price in oldPrice.items()}

In [ ]:
updated_price

{'buiryani': 1.9375}

In [ ]:
# Question: : Make a dictionary containing three major rivers and the country
#each river runs through. One key-value pair might be 'nile': 'egypt'.

In [ ]:
rivers = {'nile': 'egypt', 'indus': 'Pakistan', 'liao': 'china'}

In [ ]:
#Use a loop to print a sentence about each river, such as The Nile runs through Egypt.
for key,val in rivers.items():
   print(f"The {key} runs through {val}")

The nile runs through egypt
The indus runs through Pakistan
The liao runs through china

In [ ]:
#Use a loop to print the name of each river included in the dictionary
for key in rivers.keys():
   print(f"The name of river {key}")

The name of river nile
The name of river indus
The name of river liao

In [ ]:
#Use a loop to print the name of each country included in the dictionary
for val in rivers.values():
   print(f"The name of river {val}")

The name of river egypt
The name of river Pakistan
The name of river china

# List of list

In [ ]:
listoflist = [[0,1,2,3,],
              [1,2,3],
              ['a','b','c']]

In [ ]:
listoflist[-1][-1]

'c'

# List of Dictionary

In [ ]:
listofdic = [oldPrice, new_price, new_price_in_dollar]
listofdic

[{'Fish': 400, 'buiryani': 150, 'cold': 200, 'tikka': 300},
 {'Fish': 2.5, 'buiryani': 0.9375, 'cold': 1.25, 'tikka': 1.875},
 {'Fish': 2.5, 'buiryani': 0.9375, 'cold': 1.25, 'tikka': 1.875}]

In [ ]:
listofdic[0]['Fish']

400

# Dictionary of dictionary

In [ ]:
dicofdic = {'saylani':
            {'smit': ['web', 'ds', 'ccna', 'ai'],
             'health': ['opd', 'ot']
            },
            'University': {
                  'CS': ['1st', '2nd', '3rd', '4th'],
                  'admin': ['fees', 'timetable', 'exam']
            }
            }

In [ ]:
'University' in dicofdic

True

In [ ]:
'smit' in dicofdic['saylani']

True

In [ ]:
for pk, pv in dicofdic.items():
  if pk == 'University':
    for uk,uv in dicofdic[pk].items():
      if uk == 'admin':
        print('exam' in uv)

True

In [ ]:
def